/* Colors */
:root {
  --color-dark: rgb(13, 13, 13);
  --color-dark2: rgb(33, 33, 33);
  --color-dark3: rgb(20, 20, 20);
  --color-dark4: rgb(26, 26, 26);
  --color-white: #fff;
  --color-green: rgb(103, 195, 80);
  --color-green2: rgb(51, 149, 26);
  --color-red: rgb(184, 40, 35);
  --color-red2: rgb(146, 22, 17);
  --color-gray: #999;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: var(--color-dark);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

/* ListTask */

.container h1 {
  display: flex;
  justify-content: center;
  width: 500px;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

#input-new-task,
#btn-new-task {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}

#input-new-task {
  width: 23rem;
  border-radius: 1rem;
}

#btn-new-task {
  background-color: var(--color-dark2);
  color: var(--color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#btn-new-task:hover {
  background-color: var(--color-dark3);
  transition: 0.3s;
}

/* ListItem */

.task {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
  margin-left: 0;
}

.task:hover {
  background-color: var(--color-dark4);
}

.task--title {
  color: var(--color-white);
}

#btn-group-task {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn-tasks {
  width: 5rem;
  height: 1.4rem;
  border-radius: 0.3rem;
  background-color: var(--color-dark2);
  color: var(--color-white);
  border: none;
}
#btn-concluir-task:hover,
#btn-delete-task:hover {
  background-color: var(--color-dark3);
  transition: 0.3s;
  cursor: pointer;
}

.task--completed .task--title {
  color: var(--color-gray);
  text-decoration: line-through;
  opacity: 0.7;
  transition: 0.4s;
}

/* ListTasksInfo*/

#list-info-tasks {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3.5rem;
  margin-top: 1rem;
  height: 30px;
}

#list-info-tasks h4 {
  line-height: 1;
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ListButtons */

#list-buttons-tasks {
  display: flex;
  gap: 1rem;
}

.btn-del-tasks {
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-dark2);
  color: var(--color-white);
  transition: 0.3s;
}

.btn-del-tasks:hover {
  background-color: var(--color-dark3);
  cursor: pointer;
}

#btn-del-completed {
  width: 11rem;
  height: 1.7rem;
  font-size: 1rem;
}

#btn-del-all-tasks {
  width: 8rem;
  height: 1.7rem;
  font-size: 1rem;
}
